{
    "plugins": [
        "prettier-plugin-organize-imports",
        "@prettier/plugin-php",
        "prettier-plugin-tailwindcss"
    ],
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 4,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "arrayExpand": true,
    "tailwindFunctions": ["cva"],
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "parser": "css"
            }
        }
    ]
}
